<div class="block-space bg-secondary">
  <div class="container">
    <div class="block-head text-center mb-5">
      <h2 class="head-line display-3">
        {{Title}}
      </h2>
      <p class="lead mt-2 head-desc text-primary">{{Desc}}</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ngx-slick-carousel class="carousel simple-slick-carousel dots-nav" #slickModal="slick-carousel"
          [config]="slideConfig">
          <div ngxSlickItem *ngFor="let premiere of Data" class="slide carousel-item">
            <div class="category-box-container text-center">
              <div class="listing-item-container">
                <div class="listing-item text-center">
                  <div class="mostviewed-bg"
                    [style.background-image]="'url(' + baseImgUrl + premiere.showImage[0].path + ')' ">
                    <div class="listing-item-content">
                      <span
                        class="badge badge-pill badge-primary text-uppercase category-banner">{{premiere.category}}</span>
                      <a [routerLink]="['/repertoires/about-play', premiere.id ]">
                        <h3>{{premiere.title}} </h3>
                      </a>
                      <p class="mb-0"> <small><a [routerLink]="['/theatres/about-theatre', premiere.theatreId ]">
                            {{premiere.theatreName}}</a></small></p>
                      <p class="mb-0"> {{premiere.showDate | date: 'd LLL yyy, H:mm' }}</p>
                    </div>
                    <a [routerLink]="['/repertoires/about-play', premiere.id ]" title="Reserve ticket">
                      <span class="round-pill like-banner d-block bg-primary"><i class="fa fa-ticket"></i></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>