 <!-- Social media icons -->
     <a target="_blank" href="https://github.com/jasminasevic" class="btn btn-neutral btn-icon-only btn-round btn-lg" data-toggle="tooltip" data-original-title="Star on Github">
      <i class="fa fa-github"></i>
      </a>
     <a target="_blank" href="https://linkedin.com/in/jasminasevic" class="btn btn-neutral btn-icon-only btn-round btn-lg" data-toggle="tooltip" data-original-title="Star on Github">
      <i class="fa fa-linkedin"></i>
     </a>
     <a target="_blank" href="https://twitter.com" class="btn btn-neutral btn-icon-only btn-round btn-lg" data-toggle="tooltip" data-original-title="Follow us">
     <i class="fa fa-twitter"></i>
     </a>
     <a target="_blank" href="https://www.facebook.com" class="btn btn-neutral btn-icon-only btn-round btn-lg" data-toggle="tooltip" data-original-title="Like us">
     <i class="fa fa-facebook-square"></i>
     </a>
