<div class="dashboard-content" *ngIf="isRepertoireAdded">
  <!-- Content -->
  <div class="row">
    <!-- Item -->
    <div class="col-lg-6 col-md-6">
      <div class="card   mb-4">
        <div class="card-body text-center">
          <i class="i-Add-User"></i>
          <div class="py-4">
            <h2 class="text-primary mb-2">{{ soldTicketsNumber }}</h2>
            <p class="text-muted mt-2 mb-0" *ngIf="soldTicketsNumber != 1">Tickets Reserved</p>
            <p class="text-muted mt-2 mb-0" *ngIf="soldTicketsNumber == 1">Ticket Reserved</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Item -->
    <div class="col-lg-6 col-md-6">
      <div class="card   mb-4">
        <div class="card-body text-center">
          <i class="i-Add-User"></i>
          <div class="py-4">
            <h2 class="text-primary mb-2">{{ showFollowers }}</h2>
            <p class="text-muted mt-2 mb-0" *ngIf="showFollowers != 1">Show Followers</p>
            <p class="text-muted mt-2 mb-0" *ngIf="showFollowers == 1">Show Follower</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Recent Activity -->
    <div class="col-lg-6 col-md-12 mb-4" *ngIf="recentPurchases.length > 0">
      <div class="card">
        <div class="db-tile">
          <h4>Recent Reservations</h4>
        </div>
        <div class="db-activities">
          <div class="alert alert-dismissible fade show" role="alert" *ngFor="let purchase of recentPurchases">
            <img src="assets/images/tick.png" class="img-fluid rounded-circle shadow-lg" width="50" height="50" alt="">
            <span class="alert-inner--text mb-0 px-3">Ticket reserved on {{ purchase.createdAt | date: 'd MMMM yyyy' }}
              for
              <a [routerLink]="['/repertoires/about-play', purchase.repertoireId ]">{{ purchase.showName }}</a>
              show that will be on view {{ purchase.date | date: 'd MMMM yyyy' }} at {{ purchase.date | date: 'HH:mm'
              }}.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4" *ngIf="shows.length > 0">
      <div class="card">
        <div class="db-tile ">
          <h4>Popular Shows</h4>
        </div>
        <div class="db-activities p-4">
          <div class="d-flex align-items-center border-bottom pb-3 mb-3" *ngFor="let popularShow of shows">
            <div *ngFor="let image of popularShow.showImage">
              <a [routerLink]="['/shows/about-show', popularShow.id ]">
                <img class="rounded" src="{{ IMG_BASE_URL + image.path }}" alt="image.alt" width="90" height="60">
              </a>
            </div>
            <div class="flex-grow-1 px-3">
              <h6 class="m-0"><a [routerLink]="['/shows/about-show', popularShow.id ]"> {{ popularShow.title }}</a></h6>
              <p class="m-0 text-small text-muted">
                <span *ngIf="popularShow.followersNumber == 1"> {{popularShow.followersNumber}} follower</span>
                <span *ngIf="popularShow.followersNumber != 1"> {{popularShow.followersNumber}} followers</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dashboard-content" *ngIf="!isRepertoireAdded">
  <!-- Content -->
  <div class="row">
    <!-- Item -->
    <div class="col-lg-12 col-md-12">
      <div class="card mb-4">
        <div class="card-body">
          <i class="i-Add-User"></i>
          <div class="py-4">
            <h4 class="text-primary mb-2">In order to fully activate your profile please complete the following steps:
            </h4>
            <ol class="text-muted mb-0">
              <li class="mt-4">Add your theatre info
                <span *ngIf="isTheatreVisible">
                  <img src="assets/images/tick.png" class="img-fluid rounded-circle shadow-lg" width="35" height="35"
                    alt="">
                </span>
              </li>
              <li class="mt-4">Add scenes with sector details
                <span *ngIf="isSceneAdded">
                  <img src="assets/images/tick.png" class="img-fluid rounded-circle shadow-lg" width="35" height="35"
                    alt="">
                </span>
              </li>
              <li class="mt-4">Add shows
                <span *ngIf="isShowAdded">
                  <img src="assets/images/tick.png" class="img-fluid rounded-circle shadow-lg" width="35" height="35"
                    alt="">
                </span>
              </li>
              <li class="mt-4">Add repertoire
                <span *ngIf="isRepertoireAdded">
                  <img src="assets/images/tick.png" class="img-fluid rounded-circle shadow-lg" width="35" height="35"
                    alt="">
                </span>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>