<div class="dashboard-content">
  <!-- Content -->
  <div class="row">
    <!-- Item -->
    <div class="col-lg-6 col-md-6">
      <div class="card   mb-4">
        <div class="card-body text-center">
          <i class="i-Add-User"></i>
          <div class="py-4">
            <h2 class="text-primary mb-2">{{ soldTicketsNumber }}</h2>
            <p class="text-muted mt-2 mb-0" *ngIf="soldTicketsNumber != 1">Tickets Sold</p>
            <p class="text-muted mt-2 mb-0" *ngIf="soldTicketsNumber == 1">Ticket Sold</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Item -->
    <div class="col-lg-6 col-md-6">
      <div class="card   mb-4">
        <div class="card-body text-center">
          <i class="i-Add-User"></i>
          <div class="py-4">
            <h2 class="text-primary mb-2">{{ showFollowers }}</h2>
            <p class="text-muted mt-2 mb-0" *ngIf="showFollowers != 1">Show Followers</p>
            <p class="text-muted mt-2 mb-0" *ngIf="showFollowers == 1">Show Follower</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Recent Activity -->
    <div class="col-lg-6 col-md-12 mb-4">
      <div class="card">
        <div class="db-tile">
          <h4>Latest Activities</h4>
        </div>
        <div class="db-activities">
          <div class="alert alert-dismissible fade show" role="alert">
            <img src="assets/images/thumb-1.jpg" class="img-fluid rounded-circle shadow-lg" width="50" height="50"
              alt="">
            <p class="alert-inner--text mb-0 px-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button" class="close alert-close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" class="text-danger d-inline-block">×</span>
            </button>
          </div>
          <div class="alert alert-dismissible fade show" role="alert">
            <img src="assets/images/thumb-2.jpg" class="img-fluid rounded-circle shadow-lg" width="50" height="50"
              alt="">
            <p class="alert-inner--text mb-0 px-3">Nullam nec velit quis lacus imperdiet ultricies id sagittis neque.
            </p>
            <button type="button" class="close alert-close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" class="text-danger d-inline-block">×</span>
            </button>
          </div>
          <div class="alert alert-dismissible fade show" role="alert">
            <img src="assets/images/thumb-3.jpg" class="img-fluid rounded-circle shadow-lg" width="50" height="50"
              alt="">
            <p class="alert-inner--text mb-0 px-3">Praesent ac dolor consequat, imperdiet massa a, gravida urna.</p>
            <button type="button" class="close alert-close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" class="text-danger d-inline-block">×</span>
            </button>
          </div>
          <div class="alert alert-dismissible fade show" role="alert">
            <img src="assets/images/thumb-4.jpg" class="img-fluid rounded-circle shadow-lg" width="50" height="50"
              alt="">
            <p class="alert-inner--text mb-0 px-3"> Vestibulum varius turpis vel elit congue, at faucibus</p>
            <button type="button" class="close alert-close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" class="text-danger d-inline-block">×</span>
            </button>
          </div>
          <div class="alert alert-dismissible fade show" role="alert">
            <img src="assets/images/thumb-1.jpg" class="img-fluid rounded-circle shadow-lg" width="50" height="50"
              alt="">
            <p class="alert-inner--text mb-0 px-3"><strong>Ethan Moore</strong> Simply dummy text </p>
            <button type="button" class="close alert-close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true" class="text-danger d-inline-block">×</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4" *ngIf="shows.length > 0">
      <div class="card">
        <div class="db-tile ">
          <h4>Most Popular Shows</h4>
        </div>
        <div class="db-activities p-4">
          <div class="d-flex align-items-center border-bottom pb-3 mb-3" *ngFor="let popularShow of shows">
            <div *ngFor="let image of popularShow.showImage">
              <a [routerLink]="['/shows/about-show', popularShow.id ]">
                <img class="rounded" src="{{ IMG_BASE_URL + image.path }}" alt="image.alt" width="90" height="60">
              </a>
            </div>
            <div class="flex-grow-1 px-3">
              <h6 class="m-0"><a [routerLink]="['/shows/about-show', popularShow.id ]"> {{ popularShow.title }}</a></h6>
              <p class="m-0 text-small text-muted">
                <span *ngIf="popularShow.followersNumber == 1"> {{popularShow.followersNumber}} follower</span>
                <span *ngIf="popularShow.followersNumber != 1"> {{popularShow.followersNumber}} followers</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>