<div class="plane">
  <div class="cockpit">
    <h1>Stage</h1>
  </div>
  <div class="exit exit--front fuselage">

  </div>
  <ol class="cabin fuselage">
    <li class="row row--1 overflow-x:scroll">
      <ol class="seats" *ngFor="let row of rowsArray; let rowIndex = index" type="{{ row }}">
        <li class="seat">
          {{ rowIndex + 1}}
        </li>
        <li class="seat" *ngFor="let seat of seatsArray; let seatIndex = index">
          <input type="checkbox" id="{{ rowIndex + 1 }},{{seatIndex + 1}}" value="{{ rowIndex + 1 }},{{seatIndex + 1}}"
            [disabled]="unavailableSeatsList.includes(getIndex(rowIndex, seatIndex))" />
          <label for="{{ rowIndex + 1 }},{{seatIndex + 1}}"></label>
        </li>
      </ol>
    </li>
  </ol>
  <div class="exit exit--back fuselage">

  </div>
</div>