<div class="content p-0">
   <div class="login-wrapper">
      <div class="row m-0">
         <div class="col-lg-4 side-banner"
            style="background-image:url('assets/images/bg-vertical-red.jpg');background-position: center center; background-size: cover;">
            <div class="content px-5 text-center d-flex justify-content-center h-100">
               <div class="align-self-center">
                  <img src="assets/images/logo-white.png" class="mb-4" alt="">
                  <h4 class="text-white">Discover great theatres in world</h4>
                  <p class="text-white">Find awesome upcoming shows and premieres on Theatre Guide</p>
                  <a [routerLink]="['/home']" class="btn btn-primary">Search Now</a>
               </div>
            </div>
         </div>
         <div class="col-lg-8 site-content">
            <div class="content">
               <!-- Form Content -->
               <div class="row">
                  <div class="col-lg-6 mx-auto">
                     <div class="text-center mb-4">
                        <h2>Sign in to Theatre Guide</h2>
                        <p>Fill out the following details</p>
                     </div>
                     <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                           <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                              <div class="form-group mb-3">
                                 <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Email" type="email" formControlName="email"
                                       required>
                                 </div>
                                 <div *ngIf="email.invalid && (email.dirty || email.touched)" class="small text-danger">
                                    <span *ngIf="email.errors.required">
                                       Email is required.
                                    </span>
                                    <span *ngIf="email.errors.email">
                                       Please enter a valid email address.
                                    </span>
                                 </div>
                              </div>
                              <div class="form-group">
                                 <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                       <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
                                    </div>
                                    <input class="form-control" placeholder="Password" type="password"
                                       formControlName="password">
                                 </div>
                                 <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                    class="small text-danger">
                                    <span *ngIf="password.errors.required">
                                       Passwrod is required.
                                    </span>
                                 </div>
                              </div>
                              <div class="text-center mb-3">
                                 <span>You don't have account yet? <a [routerLink]="['/sign-up']">Sign up</a>
                                    now.</span>
                              </div>
                              <div class="text-center">
                                 <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary mt-4">Sign
                                    in</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>