<!-- Widget -->
<div class="widget mb-4">
   <h3> {{ Title }}</h3>
   <ul class="widget-tabs">
      <!-- Post #1 -->
      <li *ngFor="let popularShow of data">
         <div class="widget-content">
            <div class="widget-thumb" *ngFor="let image of popularShow.showImage">
               <a [routerLink]="['/shows/about-show', popularShow.id ]">
                  <img src="{{ IMG_BASE_URL + image.path }}" alt="image.alt"></a><br />
            </div>
            <div class="widget-text">
               <h5><a [routerLink]="['/shows/about-show', popularShow.id ]"> {{ popularShow.title }}</a>
                  <span>
                     <follow-show-button [showId]="popularShow.id"
                        (updateTotalFollowersNumber)="updateFollowersNumber($event)"></follow-show-button>
                     ({{ popularShow.followersNumber }})
                  </span>
               </h5>
            </div>
            <div class="clearfix"></div>
         </div>
      </li>
   </ul>
</div>
<!-- Widget / End-->