<div class="main-wrapper">
    <!--Title Bar -->
    <title-bar title="Directors" page="Directors" subtitle="Explore New Directors"></title-bar>
     <!-- Content -->
     <div class="content">
     <div class="container">
         <div class="row">
              <!-- Sidebar -->
              <div class="col-lg-3 col-md-4">
                <sidebar-layout-one (searchItem)="onSearchItems($event)" 
                  (sortItems)="onSortItems($event)"
                  (resetItems)="onResetItems($event)"></sidebar-layout-one>
            </div>
            <!-- Sidebar / End -->
             <div class="col-lg-9 col-md-8" *ngIf="directors.length > 0; else noResults">
                 <div class="row">
                     <!-- Listing Item -->
                     <div class="col-lg-6 col-md-12 grid-layout-list" *ngFor="let director of directors  | paginate: 
                     {
                        itemsPerPage: size,
                        currentPage: p,
                        totalItems: totalCount 
                     }; 
                     let i = index">
                         <div class="list-group">
                            <div class="listing-group-item">
                                <h3>{{director.directorFirstName}} {{ director.directorLastName }}</h3>
                                <p class="mt-2 mb-5">
                                   <a [routerLink]="['/directors/about-director', director.id]">
                                       <button class="btn btn-sm btn-primary" type="button">Find out more</button>
                                   </a>
                                </p>
                            </div>
                         </div>
                     </div>
                     <!-- Listing Item / End -->
                 </div>
                 <!-- Pagination -->
                 <div class="row">
                  <div class="col-lg-6 col-md-6">
                      <pagination-controls (pageChange)="handlePageChange($event)" 
                      previousLabel="Prev" nextLabel="Next" responsive="true"
                      directionLinks="true"></pagination-controls>
                  </div>
                 <!-- Pagination / End -->
                 <div class="col-lg-6 col-md-6 text-right">
                    Items per Page:
                    <select (change)="handlePageSizeChange($event)">
                      <option *ngFor="let size of pageSizes" value="{{ size }}">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
             </div>
             <ng-template #noResults>
              <div class="col-lg-9 col-md-8">
                <div class="row">
                    <div class="col-lg-6 col-md-12 grid-layout-list" >
                      No results found.
                    </div>
                  </div>
              </div>
             </ng-template>
         </div>
     </div>
  </div>
</div>