<div class="main-wrapper">
  <!--Title Bar -->
  <title-bar title="Repertoire" page="Repertoire" subtitle="Explore New Repertoire"></title-bar>
   <!-- Content -->
   <div class="content">
   <div class="container">
       <div class="row">
            <!-- Sidebar -->
            <div class="col-lg-3 col-md-4">
              <sidebar-layout-one (searchItem)="onSearchItems($event)" 
                (sortItems)="onSortItems($event)"
                (resetItems)="onResetItems($event)"></sidebar-layout-one>
          </div>
          <!-- Sidebar / End -->
           <div class="col-lg-9 col-md-8" *ngIf="repertoires.length > 0; else noResults">
               <div class="row">
                   <!-- Listing Item -->
                   <div class="col-lg-6 col-md-12 grid-layout-list" *ngFor="let repertoire of repertoires  | paginate: 
                   {
                      itemsPerPage: size,
                      currentPage: p,
                      totalItems: totalCount 
                   }; 
                   let i = index">
                       <div  class="listing-item-container">
                           <div class="listing-item mb-4">
                            <a [routerLink]="['/repertoires/about-play', repertoire.id]">  
                              <img src="{{IMG_BASE_URL}}{{repertoire.getImageDtos[0].path}}" class="img-fluid" alt="{{repertoire.getImageDtos[0].alt}}">
                            </a>
                               <div class="listing-item-content">
                                   <h3>{{repertoire.showName}}</h3>
                                   <span>{{repertoire.showDate | date: 'd LLL yyy,  H:mm'}} </span><br>
                                   <span><a [routerLink]="['/theatres/about-theatre', repertoire.theatreId]">{{repertoire.theatreName }}</a></span>
                                    <p class="mt-2">
                                      <a [routerLink]="['/repertoires/about-play', repertoire.id]">
                                          <button class="btn btn-sm btn-primary" type="button">Find out more</button>
                                      </a>
                                    </p>
                               </div>
                               <span class="round-pill like-banner d-block bg-primary"><i class="fa fa-heart-o"></i></span>
                               <span class="round-pill like-banner d-block bg-primary"><i class="fa fa-shopping-cart"></i></span>
                           </div>   
                       </div>
                   </div>
                   <!-- Listing Item / End -->
               </div>
               <!-- Pagination -->
               <div class="row">
                <div class="col-lg-6 col-md-6">
                    <pagination-controls (pageChange)="handlePageChange($event)" 
                    previousLabel="Prev" nextLabel="Next" responsive="true"
                    directionLinks="true"></pagination-controls>
                </div>
               <!-- Pagination / End -->
               <div class="col-lg-6 col-md-6 text-right">
                  Items per Page:
                  <select (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" value="{{ size }}">
                      {{ size }}
                    </option>
                  </select>
                </div>
              </div>
           </div>
           <ng-template #noResults>
            <div class="col-lg-9 col-md-8">
              <div class="row">
                  <div class="col-lg-6 col-md-12 grid-layout-list" >
                    No results found.
                  </div>
                </div>
            </div>
           </ng-template>
       </div>
   </div>
</div>
</div>