<!-- Banner -->
<banner-version1 [title]="bannerTitle" [desc]="bannerDesc" [bgImageUrl]="bannerImage"></banner-version1>

<!-- Upcoming Shows -->
<upcoming-shows [title]="upcomingShowsTitle" [desc]="upcomingShowsDesc" [data]="upcomingShows"></upcoming-shows>

<!-- Most Visited Places -->
<most-visited-places [title]="mostVisitedPlacesTitle" [desc]="mostVisitedPlacesDesc" [data]="places"></most-visited-places>

<!-- Popular Shows -->
<popular-shows [title]="popularShowsTitle" [desc]="popularShowsDesc" [data]="shows"></popular-shows>

<!-- Services Section -->
<services-section [title]="servicesTitle" [desc]="servicesDesc" [data]="services"></services-section>

<!-- Recently Joined Theatres Section -->
<recentlyJoinedTheatres [title]="recentlyJoinedTheatresTitle" [desc]="recentlyJoinedTheatresDesc" [data]="recentlyJoinedTheatres"></recentlyJoinedTheatres>