<!-- Banner -->
<banner-version1 [title]="bannerTitle" [desc]="bannerDesc" [bgImageUrl]="bannerImage"></banner-version1>

<!-- Upcoming Shows -->
<upcoming-shows [title]="upcomingShowsTitle" [desc]="upcomingShowsDesc" [data]="upcomingShows"></upcoming-shows>

<!-- Upcoming Premieres -->
<upcoming-premieres [title]="upcomingPremieresTitle" [baseImgUrl]="baseImgUrl"  [desc]="upcomingPremieresDesc" [data]="upcomingPremieres"></upcoming-premieres>

<!-- Popular Shows -->
<popular-shows [title]="popularShowsTitle" [desc]="popularShowsDesc" [data]="shows"></popular-shows>

<!-- Services Section -->
<services-section [title]="servicesTitle" [desc]="servicesDesc" [data]="services"></services-section>

<!-- Recently Joined Theatres Section -->
<recently-joined-theatres [title]="recentlyJoinedTheatresTitle" [desc]="recentlyJoinedTheatresDesc" [data]="recentlyJoinedTheatres"></recently-joined-theatres>